.nuxt-link-exact-active {
  background-color: #c6b8bf;
  filter: brightness(85%);
}

.list-group-item.item-done {
  input {
    text-decoration: line-through;
    filter: brightness(80%);
  }
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: gray;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
